@page
@using LArseneCraftingCatalogue.Services

@inject CraftingService craftingService
<style>
    .searchBar {
        background-image: url('/images/search.svg'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 0px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }
</style>

@model InventoryModel
@{
    ViewData["Title"] = "Inventory";
}
<h1>@ViewData["Title"]</h1>

<p>Monster Parts you have aquired: </p>

<div id="partList">
    @await Html.PartialAsync("_InventoryMonsterPartPartial")
</div>


<p>Materials you have aquired: </p>

<div id="materialList">
    @await Html.PartialAsync("_InventoryMaterialPartial")
</div>

<p>Magic Items you can craft: </p>

<div id="craftingList">
    @await Html.PartialAsync("_InventoryCraftingPartial")
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var partsData = JSON.parse(window.localStorage.getItem('partsList') ?? '[]');
    var materialData = JSON.parse(window.localStorage.getItem('materialsList') ?? '[]');

    loadPartsFromStorage(partsData);
    loadMaterialsFromStorage(materialData);

    function loadPartsFromStorage(value) {
        $.ajax({
            data: { partsList: JSON.stringify(value) },
            url:'/Inventory?handler=ProcessGetParts',
            type:'GET',
            success: function (result)
            {
                $("#partList").html(result);
                loadItems();
            },
            error: function () 
            {
                console.log("error in ajax");
            }
        });
    }

    function loadMaterialsFromStorage(value) {
        $.ajax({
            data: { materialsList: JSON.stringify(value) },
            url:'/Inventory?handler=ProcessGetMaterial',
            type:'GET',
            success: function (result)
            {
                $("#materialList").html(result);
            },
            error: function () 
            {
                console.log("error in ajax");
            }
        });
    }

    function loadItems() {
        $.ajax({
            url:'/Inventory?handler=ProcessGetMagicItems',
            type:'GET',
            success: function (result)
            {
                $("#craftingList").html(result);
            },
            error: function () 
            {
                console.log("error in ajax");
            }
        });
    }
</script>