@page
<style>
    #searchBar {
        background-image: url('/images/search.svg'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 0px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }
</style>

@model MaterialModel
@{
    ViewData["Title"] = "Material List";
}
<h1>@ViewData["Title"]</h1>

<p>This page will show the Monster Materials in the current database</p>

<div class="container">
    <input type="text" id="searchBarName" onkeyup="searchByName()" placeholder="Search name...">
    <input type="text" id="searchBarType" onkeyup="searchByType()" placeholder="Search type...">
    <br />
    <div style="width:100%; margin:0 auto;">
        <table id="MaterialTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Material Name</th>
                    <th>Type</th>
                    <th>Harvest Tool</th>
                    <th>Machinery</th>
                    <th>Product</th>
                    <th>Unrefined Weight (lbs)</th>
                    <th>Refined Weight (lbs)</th>
                    <th>Refined Value</th>
                    <th>Add to Inventory</th>
                </tr>
            </thead>
            @foreach (var Material in Model.GetMaterialList()) {
                <tr>
                    <td>@Material?.Name</td>
                    <td>@Material?.Type</td>
                    <td>@Material?.HarvestTool</td>
                    <td>@Material?.Machinery</td>
                    <td>@Material?.Product</td>
                    <td>@Material?.UnrefinedWeight</td>
                    <td>@Material?.RefinedValue</td>
                    <td>@Material?.RefinedValue</td>
                    <td><button onclick="addMaterial(@Material?.MaterialId)">Add</button></td>
                </tr>
            }
        </table>
    </div>
</div>

@{
    <script type="text/javascript">
        function searchByName() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBarName");
            filter = input.value.toUpperCase();
            table = document.getElementById("MaterialTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                // only check the first column
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function searchByType() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBarType");
            filter = input.value.toUpperCase();
            table = document.getElementById("MaterialTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                // only check the first column
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function addMaterial(value) {
            $.ajax({
                data: {monsterMaterialId: value},
                url:'/Materials?handler=ProcessAddMaterial',
                type:'GET',
                success: function (result)
                {
                    // read from local storage
                    var materialData = JSON.parse(window.localStorage.getItem('materialsList') ?? '[]');
                    materialData.push(value);
                    // now store
                    window.localStorage.setItem('materialsList', JSON.stringify(materialData));
                },
                error: function () 
                {
                    console.log("error in ajax");
                }
            });
        }
    </script>
}
